{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}
{% block body %}

<h1>Погода</h1>
<div class="container mt-5">
    <div row="row">
        <div class="col-5 offset-1">
            <form action="">
                <label for="city">Город</label>
                <input type="type=text" id="city" class="form-control" name="city" placeholder="Введите город">
                <input type="submit" name="send" value="узнать" class="mt-2 btn btn-danger">
            </form>
        </div>

        <div class="col-4 offset-1">
        <h1>Информация</h1>
            <div class="alert alert-danger">
                Погода в минске
            </div>
        </div>
    </div>
</div>

{% endblock %}